/* CSS Reset -Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ** page-load.js ** */

/* ** HEADER ** */

header {
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        'menu header buttons';

    background-color: #64361d;

    padding: 1rem 2rem;
}

.menu {
    grid-area: menu;
    justify-self: start;

    background-color: black;
}

.title {
    grid-area: header;
    justify-self: center;

    color: white;
}

.buttons {
    display: flex;
    gap: 1rem;

    grid-area: buttons;
    justify-self: end;
}

button {
    width: 6rem;
    border: none;

    font-size: 1rem;
    font-weight: bold;

    background-color: #cdb085;
    color: white;
}

.drink-wine {
    background-color: #a3462a;
}

.reserve {
    background-color: #2c494a;
}


/* ** CONTENT ** */

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #64361d;
}

/* HERO */
.hero {
}

.hero img {
  width: 100%;
  max-height: 80vh;
}

/* SQUARES */
.squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    padding: 6rem 0rem;
    gap: 2rem;
 }

#bread {
    position: relative;
    justify-self: end;
    width: 80%;
    height: 40vh;
}

#wine {
    position: relative;
    justify-self: start;
    width: 80%;
    height: 40vh;
}

#menu {
    position: relative;
    justify-self: end;
    width: 80%;
    height: 40vh;
}

#reservations {
    position: relative;
    justify-self: start;
    width: 80%;
    height: 40vh;
}

p {
  font-size: 3rem;
  color: white;
  text-shadow: 
    -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
}

p.left {
  position: absolute;
  left: 11%;
  z-index: 1;
}

p.right {
  position: absolute;
  right: 11%;
  z-index: 1;
}

/* REFERENCE CONTAINER */
.reference-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

h2 {
  font-size: 2rem;
}

.sign-up {
  padding: 2rem;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 20rem;

  border-radius: 10rem;

  color: white;
  background-color: #2c494a;
}

.form-control {
  padding: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 0.5rem;
  height: 3rem;

  color: white;
}

/* footer */

.footer {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    'left links logo';

  padding: 2rem;

  background-color: #cdb085;
  margin-top: 5rem;
}

.footer > .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: left;

  background-color: #cdb085;
}

h3 {
  font-size: 3rem;
}

.subtitle {
  font-size: 1rem;
}

.socials {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}
  
.icon {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.copyright {
  font-size: 1rem;
  text-shadow: none;
}

.links {
  grid-area: links;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 3rem 0rem;
  padding: 1rem;

  list-style-type: none;
}

li {
  justify-self: start;
  font-size: 1.25rem;

  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  height: 80%;
  grid-area: logo;
}

.logo-img {
  height: 100%;
}


/* ** bread.js/wine.js ** */
.header {
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 4rem;

  color: white;
  background-color: #cdb085;
}

.heading-wine {
  font-size: 4rem;

  color: white;
  background-color: #a3462a;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: 
    'left right';
}

div.left {
  height: 100%;
  grid-area: left;
  background-color: #64361d;
}

.left-img {
  height: 100%;
}

div.right {
  grid-area: right;

  background-color: #64361d;

  padding: 2rem;
}

.heading2 {
  font-size: 3rem;
}

.description {
  font-size: 1rem;
}


/* ** reservations.js ** */
.left>img {
  height: 100%;
}

.right>form {
  justify-content: start;
}

.form-right {
  display: flex;
  align-items: center;

  padding-left: 8rem;
}

.form-container-reserve {
  color: white;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.form-control input {
  border-color: rgba(94, 80, 63, 0.7);
  border-radius: 4px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;

  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

input::placeholder {
  color: rgb(255, 255, 255, 0.5);
}

.form-control {
  position: relative;

  width: 50%;
  padding: 32px 0px;

  color: white;
}

.form-control span {
  position: absolute;
  left: 4px;
  bottom: 36px;
  z-index: 0;

  font-family: var(--extra-font-stack);
  font-weight: bolder;

  color: var(--primary-font-color);
  opacity: 0.7;

  transition: bottom 250ms, font-size 250ms, opacity 250ms;
  pointer-events: none;
}

.form-control input:focus + span,
.form-control input:valid + span,
.form-control input:not(:placeholder-shown) + span {
  bottom: 64px;
  font-size: 0.85em;
  opacity: 0.9;
}

.form-control input:focus {
  border-color: #B3EBF2;
  box-shadow: 4px 4px #0A0908;
}

.form-control input:user-invalid {
  border-color: #E63946;
}

.form-control input:user-valid {
  border-color: #38b000;
}

.form-control button {
  width: 224px;
  height: 48px;

  border-radius: 4px;

  font-size: 1rem;
}


/* ** menu.js ** */
.heading-menu {
  text-align: center;
  font-size: 4rem;

  color: white;
  background-color: black;
}

.body-menu {
  display: flex;
}

.bread>img,
.wine>img,
.lamb>img,
.goat>img {
  height: 100%;
}

.bread>p,
.wine>p,
.lamb>p,
.goat>p {
  position: absolute;
}

.bread,
.wine,
.lamb,
.goat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.squares-menu {
  padding: 2rem;
}